{{>partials/header}}
	
	<h2>Qual ano você nasceu?</h2>
	<form method='POST' action='/idade-resultado'>
		<input 
			type='text'
			name='ano'
			placeholder='Digite seu ano de nascimento'
		/>
		<br />
		<input type='submit' value='Enviar' />
	</form>

	{{#mostrarIdade}}
		<hr />
		Você tem {{idade}} anos.
	{{/mostrarIdade}}

{{>partials/footer}}